<!DOCTYPE html>
<html>
<head>
    <title>Print ascii-art</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    
   
    <form action="/ascii-art"  method="post">
        <a>Please chosse a font:</a>
        <select name="mySelect">
        <option value="standard">standard</option>
        <option value="shadow">shadow</option>
        <option value="thinkertoy">thinkertoy</option>
    </select id="myselect">
    <br>
    <br>
  <textarea id="inputText" name="name" maxlength="10000" placeholder="Type Something (max 10000 chars)"></textarea>
  <br><br>
        <button type="submit">Submit</button>
    </form>
   <pre>{{.}}</pre>
    <p>Welcome to your dynamic web page.</p>
</body>
</html>