<!DOCTYPE html>
<html>
<head>
    <title>Print ascii-art</title>
    <link rel="stylesheet" href="/static/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
   
    <form action="/ascii-art"  method="post" class="overlay">
        <label for="myselect">Please chosse a font:</label>
        
        <select name="mySelect" id="myselect">
        <option class="op" value="standard">standard</option>
        <option class="op" value="shadow">shadow</option>
        <option class="op" value="thinkertoy">thinkertoy</option>
    </select >
    
  <textarea class="pro-textarea" id="inputText" name="name" maxlength="10000" placeholder="Type Something (max 10000 chars)"></textarea>
  
        <button type="submit">Submit</button>
    </form>
   <pre>{{.}}</pre>
</body>
</html>