<!DOCTYPE html>
<html>
<head>
    <title>Print ascii-art</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    
   
    <form action="/ascii-art"  method="post">
        <label for="myselect">Please chosse a font:</label>
        <select name="mySelect" id="myselect">
        <option value="standard">standard</option>
        <option value="shadow">shadow</option>
        <option value="thinkertoy">thinkertoy</option>
    </select >
    
  <textarea id="inputText" name="name" maxlength="10000" placeholder="Type Something (max 10000 chars)"></textarea>
  
        <button type="submit">Submit</button>
    </form>
   <pre>{{.}}</pre>
</body>
</html>