body{
  background-color: #292C35;
  background-size: cover;
  background-position: center;
  background-position: no-repeat;
  height: 100vh;
  margin : 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  color: #333;
  font-family: Arial, sans-serif;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}

.pro-textarea{   
 margin: 10px;
  display: flex;
  height: 280px;
  width: 800px;
  text-align: center;
  font-family: 'Segoe UI', tahama,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:#202027;
  border-color: transparent;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  resize: vertical;
  color:white;
}
.pro-textarea:focus{
  outline: none;
  box-shadow: 0 0 17px rgba(0, 123, 255, 0.5);
}
form {
  text-align: center;
}

label,select{
  font-family: 'Roboto', sans-serif;
  width: 150px;
  color: white;
  font-size :20px;
  text-align: center;
}

button{
  width: 100px;
  height: 20px;
  cursor: pointer;
  color:white;
  background-color: #343440;
}
button:hover{
  color: white;
  background-color: transparent;
  box-shadow: 0 0 17px rgba(0, 123, 255, 0.5);
}
pre{
  color: white;
}
select {
  flex: 1;
  background:#333540;
  transition: 0.4s;
}



select::picker-icon {
  color: transparent;
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

option {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  border: 2px ;
  background-color: transparent;
  padding: 10px;
  transition: 0.4s;
}

textarea::placeholder, input::placeholder {
  color: rgb(250, 245, 245); 
}
h2,p,a{
  margin: 10px;
  color: white;
}
pre {
  background-color: #202027;
  color: #fdfcfc;          
  padding-inline-start: auto;
  max-width: 100%;    
  font-family: monospace;                 
  margin-top: 50px;  
}
@media (max-width: 600px) {
  .pro-textarea {
    height: 120px;
    font-size: 14px;
  }

  .output-box {
    font-size: 13px;
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }
  textarea, select, button {
  width: 100%;       /* Full width on small screens */
  box-sizing: border-box; /* Prevents overflow from padding */
  margin-top: 10px;
}
}

